h2{
  background-color: bisque;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: cornsilk;
}



table {
  background-color: bisque;
  width: 100%;
  column-width: auto;
  text-align: center;
  padding-top: 70px;

}
.t{
  color: crimson;
  text-decoration: none;
  font-size: 25px;
}

.f{
  color: crimson;
  font-size: 25px;

}


th{
  width: 200px;
}
.nav-link{
  color: white;

}
.main-imag{
  height: auto;
  border-radius: 25px;
  margin-top: 15px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.message{
  margin-bottom: 50px;

}

p {
  text-align: center;
}
hr{
  border-color: rgb(195, 61, 61);
   border-width: 20px;
   width:100%;
   border-style:none;
   border-top-style: solid;
   background-color: white;
}
.u{
  height:10%;
  font-family: 'Faustina', serif;
}
.box3{
  margin:0;
  width: 100%;
  background-color: rgb(195, 61, 61);
}

.relation{
    background-color: rgb(195, 61, 61);
    height: 180px;
    width: 100%;
}
.rt{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.rt1{
  text-decoration: none;
  color: white;
}
.b2t{
  color: crimson;
  font-family: 'Faustina', serif;
  font-size: 30px;
}
.btn1{
  background: #93c5e6;
  background-image: -webkit-linear-gradient(top, #93c5e6, #0086d9);
  background-image: -moz-linear-gradient(top, #93c5e6, #0086d9);
  background-image: -ms-linear-gradient(top, #93c5e6, #0086d9);
  background-image: -o-linear-gradient(top, #93c5e6, #0086d9);
  background-image: linear-gradient(to bottom, #93c5e6, #0086d9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;


}

.btn1:hover {
  background: #3cb0fd;
  text-decoration: none;



}
.bottom-container{
background-color: bisque;
text-align: center;

}
.ultrasmall{
width: 25px;
height: 25px;
margin: 10px;
}

body{
  margin: 0;
}

.cols{
  width: 80%;
  height: 70%;
  padding: 10px;}

.ex{
  width: 30%;
  height: 33%;
  float: left;
  padding-left: 100px;
  margin-right: 30px;

}
.ex1{
  width: 30%;
  height: 35%;
  padding-right: 100px;
  margin-left: 30px;
  float: right;
}
.ex2{
  width: 25%;
  height: 33%;
  float: left;
  padding-left: 100px;
  margin-right: 30px;
}
/* .examples{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
} */
.flower{
  padding-top: 150px;
  color: DarkRed;
  font-size: 1.5rem;
  margin-right: 100px;
  margin-bottom: 100px;
  font-family: 'Noto Sans', sans-serif;
  line-height: normal;

}
.choclate{
  line-height: normal;
  margin-top: 30px;
  color: DarkRed;
  font-size: 1.5rem;
  text-align: right;
  margin-left: 100px;
  margin-bottom: 100px;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 100px;

}
.card{
  padding-top: 100px;
  color: rgb(195, 61, 61);
  font-size: 1.5rem;
  margin-right: 100px;
  margin-bottom: 100px;
  font-family: 'Noto Sans', sans-serif;
  line-height: normal;
  border:0;


}

span{
  font-size: 2rem;
  font-family: cursive;

}
